@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-links-hover: #1ec3e0;
    --color-primary: #0ea2bd;
    --dark-color: #1a1f24;
    --color-light: #8f9fae;
    --color-secondary: #485664;
    --main-font : 'Poppins', sans-serif;
}

body{
    font-family: var(--main-font);
    background-color: #a4a3a309;
    text-transform: capitalize;
}
section{
    margin-bottom: 9rem ;
}
.title{
    width: 80%;
    margin: auto;
    text-transform: capitalize;
    margin-bottom: 6rem;
}
.title h3{
    font-size: 2.8rem;
    font-weight: 300;
    color: var(--color-secondary);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
p{
    color: var(--color-light);
}
.btn{
    text-transform: capitalize;
    color: #fff;
    border: 0;
    padding: .7rem 1.7rem;
    background-color: var(--color-primary);
}
.btn:focus {
    box-shadow: 0 0 0 0.02rem transparent !important;
}
.btn:active {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}
.form-control:focus {
    border-color: transparent;
    box-shadow: 0 0 0 0 rgba(13, 109, 253, 0);
}
@media (max-width:575px) {
    .btn{
        padding: .5rem 1.3rem;
        font-size: .9rem;
    }
    .container{
        width: 98% !important;
    }
}
@media (max-width:991px) {
    .title{
        width: 100%;
    }
}



/* Start nav section */
nav{
    background-color: transparent !important;
} 
nav.color{
    background-color: #fff !important;
}
.navbar-brand{
    font-size: 2rem !important;
    color: var(--color-secondary) !important;
}
.navbar-brand span{
    color: var(--color-primary);
}

.nav-item{
    margin-right: 1rem;
}
.nav-item a{
    text-transform: capitalize;
}
/* End nav section */

/* Start hero section */
.hero{
  padding-top: 8rem;
  background: url(../images/hero-bg.png);
  background-size: cover;
  margin-top: -.9rem;
  padding-bottom: 2rem;
}

.hero__img img{
    width: 44%;
    animation: upDown 3s alternate infinite ;
    -webkit-animation: upDown 3s alternate infinite ;
}
@keyframes upDown {
    0%{
        transform: translateY(-1rem);
        -webkit-transform: translateY(-1rem);
        -moz-transform: translateY(-1rem);
        -ms-transform: translateY(-1rem);
        -o-transform: translateY(-1rem);
}
    100%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
}

.hero__desc h2{
    font-size: 3rem;
    font-weight: 400;
    color: var(--color-secondary);
}
.hero__desc h2 span{
    color:var(--color-primary);
}
.hero__desc p{
    font-size: 1.2rem;
}

.hero__desc--btns .btn:hover{
   background-color: var(--color-links-hover);
   color: #fff;
}
.hero__desc--btns a:last-child{
    color: var(--color-secondary);
    font-weight: 600;
    font-size: 1.1rem;
}
.hero__desc--btns a:last-child i{
   color: var(--color-primary);
   font-size: 2rem;
   margin-right: .3rem;
}

@media (max-width:991px) {
    .hero__img img{
        width: 60%;
    }
    
}
@media (max-width:575px) {
    .hero__desc h2{
        font-size: 2rem;
    }
    .hero__desc p{
        font-size: 1rem;
    }
    .hero__desc--btns a:first-child{
        margin-right: 1rem;
    }
    .hero__desc--btns a:last-child{
        font-size: 1rem;
    }
    .hero__desc--btns a:last-child i{
        margin-right: .2rem;
     }
}
 /* End hero section */

 /* Start services section */
 .services__card{
    transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    padding: 2rem 1.2rem;
}
 .services__card:hover{
    transform: translateY(-1rem);
    -webkit-transform: translateY(-1rem);
    -moz-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    -o-transform: translateY(-1rem);

    box-shadow: 0px 0px 35px 0px rgba(143,159,174,0.3);
    -webkit-box-shadow: 0px 0px 35px 0px rgba(143,159,174,0.3);
    -moz-box-shadow: 0px 0px 35px 0px rgba(143,159,174,0.3);
    
}
.services__card img{
    width:2.3rem
}
.services__card h4{
    font-size: 1.3rem;
    font-weight: 500;
}
 .services__card a{
    color: var(--color-secondary);
}
.services__card a:hover{
    color: var(--color-primary);
}
.services__card p{
    color: var(--dark-color);
    font-weight: 400;
    font-size: .9rem;
}
.services__card i {
    font-size: 2rem;
    color: var(--color-primary);
}

 /* End services section */

 /* Start about section */
 .about__img{
    position: relative;
 }
 .about__img::before{
    position: absolute;
    /* inset: -60px 0 0 -60px; */
    top:-3.5rem;
    left: -3.5rem;
    display: block;
    z-index: -1;
    content: url(../images/about-bg.png);
 }
 .about__img img{
    height: 40rem;
 }
 .about__desc h3{
    font-size: 2.2rem;
    color: var(--color-secondary);
    font-weight: 300;
    color: var(--dark-color);

 }
 .about__desc--tabs ul {
    padding: .5rem 0;
 }
 .about__desc--tabs li{
    margin-right: 2rem;
    font-size: 1.1rem;
    color: var(--color-secondary);
    cursor: pointer;
 }
 .about__desc--tabs li.active{
    color: var(--color-primary);
 }
 .about__desc--tabs ul{
    position: relative;
    border-bottom: .01rem solid #8f9faeaf;
 }
 .about__desc--tabs .line{
    background-color: var(--color-primary);
    position: absolute;
    height: .16rem;
    width: 7.3rem;
    left: 1px;
    bottom: -.1rem;
    border-radius: .5rem;
    transition: all ease-in .2s;
    -webkit-transition: all ease-in .2s;
    -moz-transition: all ease-in .2s;
    -ms-transition: all ease-in .2s;
    -o-transition: all ease-in .2s;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.about .content{
    display: none;
}
.about .content.active{
    display: block;
}
 .about .content i{
    color: var(--color-primary);
    margin-right: .4rem;
 }
 .about .content h4{
    font-size: 1.1rem;
 }
 .about .content p{
    color: var(--dark-color);
    font-weight: 400;
 }
 .about .content p{
    margin-bottom: 1.3rem;
 }

 @media (max-width:991px) {
    .about__img{
        text-align: center;
        margin-bottom: 2rem;
    }
    .about__img img{
        width: 90%;
        margin-left: 0 !important;
        margin-right: 0 !important;   
     }
     .about__img::before{
        top:-2.9rem;
        left: -1.4rem;
    }
}
 @media (max-width:575px) {
    .about__img img{
        width: 90%;
        height: 30rem;
    }
    .about__img::before{
        top:-1.7rem;
        left: -.4rem;
    }
    .about__desc h3{
        font-size: 1.7rem;
    }
    .about .content h4{
        font-size: .9rem;
     }
     .about .content p{
        font-size: .9rem;
     }
 }
 /* End about section */

 /* Start logos section */
 .logos .container{
    overflow: hidden;
    position: relative;
 }
 .logos .row{
    flex-wrap: nowrap;
 }
.logos .slider{
    animation: scroll 90s linear infinite;
    display: flex;
    justify-content: center;
    width: calc(110px * 14);
    -webkit-animation: scroll 90s linear infinite;
}

 @keyframes scroll {
    0% {
        transform: translateX(0);
        -webkit-transform:;
        -moz-transform:;
        -ms-transform:;
        -o-transform:;
}
    100% {
    transform: translateX(calc(-200px * 7));
    -webkit-transform: translateX(calc(-200px * 7));
    -moz-transform: translateX(calc(-200px * 7));
    -ms-transform: translateX(calc(-200px * 7));
    -o-transform: translateX(calc(-200px * 7));
}
}
.logos img{
    height: 100px;
    width: 170px;
    object-fit: contain;
    margin-right: .2rem;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    transition: all ease-in .2s;
    -webkit-transition: all ease-in .2s;
    -moz-transition: all ease-in .2s;
    -ms-transition: all ease-in .2s;
    -o-transition: all ease-in .2s;
}

.logos img:hover{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

 /* End logos section */

 /* Start info section */
 .info .container{
    background-color: rgba(72, 86, 100, .1) ;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    padding: 5rem;
}

.info__desc{
    height: 100%;
}
.info__desc h3{
    font-size: 2.5rem;
    color: var(--color-secondary);
    font-weight: 600;
}
.info__desc h3 em{
    position: relative;
}
.info__desc h3 em::after{
    position: absolute;
    content: "";
    bottom: .9rem;
    left: 0;
    background-color:#0ea3bd8e;
    width:100%;
    height: .5rem;
    z-index: -1;
}
.info__desc p{
    color: var(--color-secondary)
}
.info__desc .btn{
    width: 11rem;
}
.info__desc .btn:hover{
    color: #fff;
    background-color: var(--color-links-hover);
}
.info__img img{
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.info__img{
    position: relative;
    z-index: 1;
}
.info__img::after , .info__img::before{
    position: absolute;
    content: "";
    top:-.3rem;
    left: .1rem;
    width:100%;
    height: 100%;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.info__img::after{
  background-color: rgba(255, 255, 255, 0.878);
  z-index: -1;
  transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  -o-transform: rotate(7deg);
}

.info__img::before{
  z-index: -2;
  background-color: rgba(228, 228, 228, 0.964);
  transform: rotate(14deg);
  -webkit-transform: rotate(14deg);
  -moz-transform: rotate(14deg);
  -ms-transform: rotate(14deg);
  -o-transform: rotate(14deg);
}
@media (max-width:991px) {
    .info .container{
        padding: 4rem 2.7rem;
    }
}
@media (max-width:575px) {
    .info__img {
        margin-bottom: 3rem;
    }
    .info__desc .btn{
        width: 9.6rem;
    }
    
}
 /* End info section */

 /* Start onfocus section */
 .onfocus__video{
    background: url(../images/abstract-office-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 33.1rem;
    position: relative;
 }
 .onfocus__video .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: #00000090;
    z-index: 0;
 }
 .onfocus__video i{
    color: #fff;
    font-size: 1.5rem;
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
    text-align: center;
    background: radial-gradient(var(--color-primary) 50%, rgba( 14, 162, 189, 0.4) 52%);
    border-radius: 50%;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 2;
    transition: all ease-in .3s ;
    -webkit-transition: all ease-in .3s ;
    -moz-transition: all ease-in .3s ;
    -ms-transition: all ease-in .3s ;
    -o-transition: all ease-in .3s ;
    position: relative;
}
.onfocus__video i::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
    animation: pulsate-btn 2s;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(var(--color-primary-rgb), 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
    -webkit-animation: pulsate-btn 2s;
}

.onfocus__video i:hover{
    background: var(--color-primary);
}

 .onfocus__content{
    background:  url(../images/onfocus-content-bg.jpg) center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem;
    color: var(--color-light);
 }

 .onfocus__content h3{
    color: #fff;
 }

 .onfocus__content--list .list{
    margin-bottom: 1rem;
 }
 .onfocus__content--list .list i{
    color: var(--color-primary);
 }

 @media (max-width:575px) {
    .onfocus__content{
        padding: 2.6rem;
 }
}
/* End onfocus section */

 /* Start features section */
 .features{
    height: 33rem;
 }
 .features__tabs .tab{
    padding: 1.5rem;
    width: 20%;
    margin-right: 1rem;
    box-shadow: 0px 0px 25px 0px rgba(143,159,174,0.3);
    -webkit-box-shadow: 0px 0px 25px 0px rgba(143,159,174,0.3);
    -moz-box-shadow: 0px 0px 25px 0px rgba(143,159,174,0.3);
    cursor: pointer;
 }

.features__tabs li i{
    font-size: 1.8rem;
    margin-bottom: .6rem;
} 
.features__tabs li:first-child i{
    color: var(--color-primary);
}
.features__tabs li:nth-child(2) i{
    color:#6610f2;
}
.features__tabs li:nth-child(3) i{
    color:#20c997 ;
}
.features__tabs li:nth-child(6) i{
    color:#fd7e14 ;
}
.features__tabs li div h4{
    color: var(--dark-color);
    font-size: 1.2rem;
}
.features__tabs li img {
    width: 1.9rem;
    margin-bottom: .6rem;
}
.features__tabs .tab.active{
    background: rgb(14, 149, 173);
}
.features__tabs .tab.active i , .features__tabs .tab.active h4{
    color: #fff;
}
.features__tabs .tab--content {
    display: none;
    margin-top: 2rem;
}
.features__tabs .tab--content.active{
    display: block;
}

.features__tabs .tab--content h3{
    color: var(--color-secondary);
    font-size: 2rem;
}
.features__tabs .tab--content p{
    color: #3f3d56;
    margin-bottom: 0 !important;
}
.features__tabs .tab--content i{
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-right: .5rem !important;
}
.features__tabs .tab--content .content div{
    margin-bottom: 1rem;
}
@media (max-width:991px) {
    .features{
        height: 78rem;
     }
    .features__tabs ul{
        flex-wrap: wrap;
    }
    .features__tabs .tab{
        width: 30%;
        margin-bottom: 1rem; 
    }
}
@media (max-width:575px) {
    .features__tabs .tab{
        width: 45%;
    }
}

 /* End features section */

.services2__item{
    position: relative;
    margin-bottom: 9rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
} 
.services2__item .img{
    overflow: hidden;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.services2__item--details{
    position: absolute;
    bottom: -6rem;
    left: 50%;
    background-color: #ffffffd7;
    width: 80%;
    padding: 3rem 1rem;
    text-align: center;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    box-shadow: 0px 0px 35px 0px rgba(143,159,174,0.3);
    -webkit-box-shadow: 0px 0px 35px 0px rgba(143,159,174,0.3);
    -moz-box-shadow: 0px 0px 35px 0px rgba(143,159,174,0.3);
}

.services2__item--details h3{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--dark-color);
}
.services2__item--details p{
    font-size: .8rem;
    color: var(--dark-color);
}
 .services2__item img{
   height: 17.5rem;
   border-radius: .8rem;
   -webkit-border-radius: .8rem;
   -moz-border-radius: .8rem;
   -ms-border-radius: .8rem;
   -o-border-radius: .8rem;
   transition: all ease-in .3s;
   -webkit-transition: all ease-in .3s;
   -moz-transition: all ease-in .3s;
   -ms-transition: all ease-in .3s;
   -o-transition: all ease-in .3s;
} 
.services2__item img.serv-img{
    min-width: 100% !important;
 }
 
 .services2__item--details i {
    font-size: 1.7rem;
    color: #fff;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top:-1.8rem;
    border: .3rem solid #ffff;
    transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
}

.services2__item:hover i {
    border: .1rem solid var(--color-primary);
    background-color: #fff;
    color: var(--color-primary);
}
.services2__item:hover img{
    transform: scale(1.1);
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
}

 /* Start testimonial section */
.testimonial {
    width: 100%;
    background-image: url(https://bootstrapmade.com/demo/templates/Gp/assets/img/testimonials-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    text-align: center;
    color: #fff;
    position: relative;
    height: 24rem;
}

.testimonial .overlay {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    padding: 3rem 0;
  }
   
.testimonial .dots{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
}
.testimonial .dots .dot{
    width: .8rem;
    height: .8rem;
    background-color: #a5a5a5;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-right: .3rem;
}
.testimonial .dots .dot.active{
    background-color: #fff;
}

.testimonial img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    border: .5rem solid rgba(255, 255, 255, 0.15);
    margin: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.testimonial-item {
    width: 70%;
    margin: auto;
    display: none;
    transition: all ease-in .3s;
    -webkit-transition:;
    -moz-transition:;
    -ms-transition:;
    -o-transition:;
}
.testimonial-item.active{
    display: block;
}

.testimonial-item h3 {
    font-size: 20px;
    font-family: "Raleway, sans-serif";
    font-weight: 700;
}
  
.testimonial-item h4 {
    font-size: 14px;
    font-family: "Raleway, sans-serif";
    font-weight: 500;
    margin-bottom: 2rem;
}
  
.testimonial-item p {
    font-size: .9rem;
    font-weight: 500;
    color: #e0dfdf;
}
  @media (max-width:575px) {
    .testimonial-item {
        width: 95%;
    }
    
  }
  /* End testimonial section */

  /* Start pricing section */
.pricing__item{
    border: .2rem solid #fff;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background-color: #fff;
    padding-bottom: 2rem;
    box-shadow: 0px 0px 30px 0px rgba(143,159,174,0.3);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(143,159,174,0.3);
    -moz-box-shadow: 0px 0px 30px 0px rgba(143,159,174,0.3);
}
.pricing__item .pricing__item--header{
  padding: 4rem;
  background-image:linear-gradient(rgba(72, 86, 100, 0.901), rgba(72, 86, 100, 0.893)),url(../images/pricing-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  border-top-left-radius: .8rem;
  border-top-right-radius: .8rem;
}

.pricing__item.item-2 .pricing__item--header{
    background-image:linear-gradient(rgba(14, 163, 189, 0.873), rgba(14, 163, 189, 0.899)),url(../images/pricing-bg.jpg);
}
.pricing__item.item-2{
    border: .2rem solid var(--color-primary);
}
.pricing__item--header span{
    color: var(--color-light);
}
.pricing__item ul{
    padding: 2rem;
}

.pricing__item ul li{
    display: flex;
    align-items: center;
    padding: 0 !important;
    margin-bottom: 1rem !important;
}
.pricing__item ul li img{
    width: 2rem;
    height: 2rem;
}
.pricing__item ul li i{
    margin-right: 1rem;
    margin-left: .6rem;
}
.pricing__item ul li.del{
    color: var(--color-light);
}
.pricing__item ul li.del span{
    text-decoration: line-through;
}

.pricing__item .pricing_btn{
    width: 30%;
    margin: auto;
}

/* End pricing section */

/* Start questions section */
.questions .container{
   min-width:95% !important
}
.questions__title h3{
   color: var(--color-secondary);
}
.questions__title h3 span{
    font-weight: bold;
}
.question__accordion--item{
    background-color: #fff;
    box-shadow: 0px 0px 30px 0px rgba(143,159,174,0.3);
   -moz-box-shadow: 0px 0px 30px 0px rgba(143,159,174,0.3);
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.question__accordion--item h3{
    font-size: 1.1rem;
}
.question__accordion--item h3 i{
   color: var(--color-primary);
   margin-right: .7rem;
}
.accordion--collapse{
    display: none;
    transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
}
 .accordion--collapse.open{
    display: block;

}

.questions img{
   min-height: 108%;
}

@media (max-width:575px) {
    .accordion--header{
        align-items: start !important;
    }
     .question__accordion--item h3{
        display: flex;
        justify-content: space-between;
        align-items: start;
        font-size: 1rem;
     }
     .question__accordion--item h3 i{
        margin-right: .5rem;
     }
}
 /* End questions section */

/* Start porfolio section */
.portfolio__filters h6{
    margin-right: 2rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    cursor: pointer;
}

.portfolio__filters h6.active{
    color: var(--color-primary);
}
.portfolio .search{
    width: 25%;
    margin: auto;
}
.portfolio .search i{
    color: var(--color-primary);
}

.portfolio__item {
    position: relative;
    overflow: hidden;
    z-index: 3;
}

 .portfolio__item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( 72, 86, 100,.8);
    opacity: 0;
    transition: ease-in .3s;
    -webkit-transition: ease-in .3s;
    -moz-transition: ease-in .3s;
    -ms-transition: ease-in .3s;
    -o-transition: ease-in .3s;
    z-index: 1;
}
.portfolio__item:hover::after{
    opacity: 1;
}
.portfolio__item img{
    transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
}
.portfolio__column--content {
    position: absolute;
    bottom: 10%;
    left: 4%;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: ease-in .3s;
    -webkit-transition: ease-in .3s;
    -moz-transition: ease-in .3s;
    -ms-transition: ease-in .3s;
    -o-transition: ease-in .3s;
    z-index: 2;
}
.portfolio__column--content h3{
    font-size: 1.2rem;
}
  
.portfolio__item:hover .portfolio__column--content {
    visibility: visible;
    opacity: 1;
}
  
.portfolio__item:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.portfolio__item img:hover::after {
    opacity: 1;
}
@media(max-width:991px){
    .portfolio .search{
        width: 45%;
    }
}
@media(max-width:575px) {
    .portfolio__filters h6{
        margin-right: 1rem;
        margin-bottom: 1rem;
        font-size: 1rem;
    }
    .portfolio .search{
        width: 60%;
    }
}

/* End portfolio section */

/* Start team section */
.team .member {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.team .member-img img{
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.team .member-info {
    padding: 1.6rem .6rem;
    text-align: center;
    position: absolute;
    bottom: -3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    width: 80%;
    border-radius: .8rem;
    box-shadow: 0px 0px 30px 0px rgba(143,159,174,0.3);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(143,159,174,0.3);
    -moz-box-shadow: 0px 0px 30px 0px rgba(143,159,174,0.3);
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
} 
.team .member-info h4 {
    margin-bottom: .3rem;
    font-size: 1.3rem;
    color: #151515;
    font-weight: 500;
}
  
.team .member-info span {
    font-size: .9rem;
    color: var(--color-light);
}
  
.team .member .social {
    position: absolute;
    left: 0;
    bottom: 2.5rem;
    right: 0;
    opacity: 0;
    transition: ease-in-out 0.3s;
    text-align: center;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    z-index: 3;
  }
  
.team .member:hover .social {
    opacity: 1;
}
 
.team .member .social a {
    margin: 0 .2rem;
    width: 2.2rem;
    height:2.2rem;
    border-radius: 50%;
    background: var(--color-primary);
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
  
.team .member .social i {
    font-size: 1rem;
}
.team .member .social a:hover{
    background-color: var(--color-links-hover);
}

@media (max-width:575px) {
    .team{
        margin-bottom: 5rem !important;
    }
    .team .member{
        margin-bottom: 6rem;
    }
    
}
/* End team section */

/* start blog section */
.blog__box{
    margin-bottom: 1rem;
}
.blog__box--img {
    overflow: hidden;
}
.blog__box--img img{
    transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
}
.blog__box--img, .blog__box--img img{
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.blog__box:hover .blog__box--img img{
  transform: scale(1.1);
  -webkit-transform:;
  -moz-transform:;
  -ms-transform:;
  -o-transform:;
}
.blog__box--date span{
    font-size: .9rem;
}
.blog__box--date span:first-child {
    color: var(--color-primary);
}
.blog__box h3{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-secondary);
    transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
}
.blog__box p{
    font-weight: 300;
    color: rgb(58, 71, 83);
}
.blog__box a{
    color: var(--color-primary);
}
.blog__box:hover h3{
    color: var(--color-primary);
}
@media (max-width:575px) {
    .blog__title{
      margin-bottom: 2rem;
    }
}
/* End blog section */

/* Start contacts section */
.contacts .title{
  margin-bottom: 3rem;
}

.contacts__info{
    padding: 2.6rem;
    box-shadow: 0px 0px 30px 0px rgba(143,159,174,0.3);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(143,159,174,0.3);
    -moz-box-shadow: 0px 0px 30px 0px rgba(143,159,174,0.3);
}
.contacts__info p{
    font-size: .9rem;
}
.contacts__info--item i{
    font-size: 1.6rem;
    color: var(--color-primary);
    margin-right: .7rem;
}
.contacts__info--item h5{
    font-size: 1rem;
}
.contacts__info--item:not(:last-child){
    padding: .7rem 0;
    border-bottom: .1rem solid #ddd;
}
.contacts form div:first-child input{
    width:49%;
    padding :.7rem ;
    height: 3rem;
}
.contacts form div:nth-child(2) input{
    padding : .7rem ;
}
.form-control:focus {
    border-color: #9a9999;
    box-shadow: 0 0 0 0 rgba(13, 109, 253, 0);
}
@media (max-width:575px) {
    .contacts__title{
        width: 95%;
    }
    .contacts form div:first-child input{
        width:100%;
    }
    .contacts form div:first-child input:first-child{
        margin-bottom: rem;
    }
}
/* End contacts section */
 
/* Start footer */
footer{
    background-color: var(--color-secondary);
    padding:  2rem 0;
}
.footer__box h4{
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #fff;
}
.footer__box p , .footer__box a , .footer__box i{
    color: #dad8d8;
    font-size: .9rem;
    transition:  all ease-in .3s;
    -webkit-transition:;
    -moz-transition:;
    -ms-transition:;
    -o-transition:;
}
.footer__box i{
    margin-right: .4rem;
    font-size: .9rem;
}
.footer__box p{
    line-height: 1.6rem;
}
.footer__box ul{
    padding-left: 0 !important;
}
.footer__box li{
    margin-bottom: .6rem;
}
.footer__bottom{
    color: #fff;
    font-size: .9rem;
}
.footer__bottom i{
    color: #ffffff;
    margin-left: .8rem;
    font-size: 1.3rem;
    cursor: pointer;
    width: 2.3rem;
    height: 2.3rem;
    background-color: #6b6b6b48;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
}
.footer__bottom i:hover, .footer__box a:hover{
    color: #ffffff;
}
.footer__bottom--icons i:hover{
    background-color: var(--color-primary);
}
@media (max-width:991px) {
    .footer__box{
        margin-bottom: 2rem;
    }
    .footer__box i{
        margin-right: .5rem;
        font-size: .8rem;
    }
    .footer__contact a{
        font-size: 1rem;
    }
    .footer__bottom{
        text-align: center;
    }
    .footer__bottom div:first-child{
        flex-direction: column;
    }
    .footer__bottom--icons{
        margin-top: 1rem;
    }
}
@media (max-width:575px) {
    .footer__box{
        width: 100%;
    }
    .footer__box i{
        margin-right: .5rem;
    }
    .footer__bottom--icons{
        margin-top: 1rem;
    }
}
 /* End footer */

 .arrow-up{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color-primary);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    z-index: 555;
}